

body {
  font-family: 'Georgia', serif;
  background-color: #ffffff;
  color: #000000;
  line-height: 1.8;
    }

header {
  background-color: #000000;
  padding: 6%;
  text-align: center;
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
  border-radius: 20px;
}

ul  {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: larger;
font-style: normal;
color:#ccc 
}

    section {
      max-width: 6000px;
      margin: 0 auto;
      background: #fff;
      padding: 5%;
      border-radius: 20px;
      border-left: 30px;
      border-right: 30px;
      border-top: 30px;
      border-width: 30px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    }


.video-responsivo{
  width:100%;
  aspect-ratio: 16 / 9 ;
  border: none;
}
